html,
body{
    height: 100%;
    margin: 0;
}
body{
    background: #041631;
    display: flex;
    align-items: center;
    justify-content: center;
}
#workZone{
    display: block;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;

}
#button {
    position:relative;
    top:40%;
    left:30%;
}
canvas {
    position:absolute;
}
